<h1>Eat Da Burger, Mon</h1>

<ul>
  {{#each burgers}}
{{#unless this.devoured}}
    <li>
      <p>
        {{this.id}}. {{this.burger_name}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="id" value="{{this.devoured}}">
          <button type="submit">Devour</button>
        </form>
      </p>
    </li>
    {{/unless}}
  {{/each}}
</ul>


<h2>Devoured Burgers</h2>
<ul>
  {{#each burgers}}
  {{#if this.devoured}}
    <li>
      <p>
        {{this.id}}. {{this.burger_name}}
      </p>
    </li>
      {{/if}}
  {{/each}}
</ul>




<h2>Add a Burger</h2>
<form method="POST" action="/" class="button-size">
  <textarea type="text" name="burger_name"></textarea>
  <button type="submit">Save Burger!</button>
</form>

